<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<img src="https://a0.muscache.com/airbnb/static/error_pages/404-Airbnb_final-554adc9e2190445fea6d7f0e3a30e67e.gif" width="313" height="428" class="hide-sm" alt="Une fillette fait tomber sa glace." style="
    margin-left: 110px;
">
